{% extends 'base.html' %}

{% block content %}

<div class="m-16 p-4 flex flex-row border-4 border-red-600/50 rounded-lg bg-yellow-50">
    <div class="flex flex-nowrap justify-center">
        <p><img class="h-144 w-96 object-cover rounded-lg" src="{{char.portrait.url}}" alt="img"></p>
        <div class="px-8">
                <p class="font-semibold">{{ char.name }}</p><br>
                <p>{{ char.race }} - {{ char.klass }}</p>
                <p>{{ char.level }} уровня</p><br>
                <p>Здоровье: {{ char.hp }}</p><br>
                <p class="font-semibold">Характеристики:</p><br>
                <p>Сила {{ char.strength }}</p>
                <p>Ловкость {{ char.dexterity }}</p>
                <p>Телосложение {{ char.constitution }}</p>
                <p>Интеллект {{ char.intelligence }}</p>
                <p>Мудрость {{ char.wisdom }}</p>
                <p>Харизма {{ char.charisma }}</p><br>

                {% if user ==  char.owner %}
                    <div class="flex flex-row">
                        <div class="pr-2">
                            {% if time != '05' %}
                                <form action="{% url 'update_character' char.pk %}">
                                    {% csrf_token %}
                                    <button class="bg-transparent hover:bg-yellow-500 text-yellow-700 font-semibold hover:text-white py-2 px-4 border border-yellow-500 hover:border-transparent rounded"
                                            type="submit">
                                        Изменить
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                            <form action="{% url 'delete_character' char.pk %}" method="post">
                                {% csrf_token %}
                                <button class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
                                        type="submit">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
    </div>
</div>
{% endblock content %}